.active {
    color: rgb(110, 110, 255);
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 40;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(2rem);
    color: whitesmoke;
}